.el-carousel__arrow--left{
    left: 250px;
}
.carousel{
    width: 1226px;
    margin: 0 auto;
}
.carousel img{
    width: 1226px;
    height: 460px;
}
.left_nav_bar{
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 234px;
    height: 460px;
}
.left_nav_bar ul{
    padding: 20px 0;
    margin: 0;
    height: 420px;
    border: 0;
    color: #fff;
    background: rgba(105,101,101);
}
.left_nav_bar ul li{
    position: relative;
    color: #fff;
    padding-left: 30px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
}
.left_nav_bar ul li:hover{
    background-color: #ff6700;
}
.left_nav_bar ul li a{
    color: #fff;
}
.left_nav_bar ul li i{
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #e0e0e0;
}
.home_sub{
    margin-bottom: 26px;
}
.home_sub >div{
    display: inline-block;
}
.home_sub .list ul{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
}
.home_sub .img_list{
    margin-left: 13px;
}
.home_sub .img_list ul :first-child{
    width: 316px;
    height: 170px;
    margin-left: 0px;
    display: inline-block;
}
.home_sub .img_list ul li{
    width: 316px;
    height: 170px;
    margin-left: 15px;
    display: inline-block;
    transition: all .2s linear;
}
.home_sub .img_list ul li:hover{
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0)
}
.home_sub .img_list img{
    width: 316px;
    height: 170px;
}

.goods_list_box{
    background: #f5f5f5;
}
.goods_list{
    width: 1226px; 
    margin: 0 auto;
}
.goods_list .home_banner {
    height: 120px;
    margin: 22px 0;
    padding-top: 22px;
}
.goods_list .home_banner img{
    width: 1226px;
    border: 0px;
}

.box_header{
    height: 58px;
    margin: 20px 0 0 0;
}
.box_header>.title{
    text-align: left;
}
.box_goods{
    height: 614px;
}
.box_goods .img_list{
    float: left;
    height: 614px;
    width: 234px;
}
.box_goods .img_list .one li,
.box_goods .img_list .two li{
    z-index: 1;
    width: 234px;
    margin-bottom: 14.5px;
    transition: all .2s linear;
}
.box_goods .img_list .two li{
    height: 300px;
}
.box_goods .img_list .one li:hover,
.box_goods .img_list .two li:hover{
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transform: translate3d(0, -2px, 0);
}
.box_goods .img_list img{
    width: 234px;
}
.box_goods .list{
    float: left;
    height: 615px;
    width: 991px;
}